---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';
import Offers from '../components/home/Offers.astro';
import Values from '../components/home/Values.astro';
import Reviews from '../components/home/Reviews.astro';
import Locations from '../components/home/Locations.astro';
---

<Layout
  title="Home - Great Lakes Oral & Maxillofacial Surgery Centre"
  description="Get advanced and compassionate oral and maxillofacial surgical care at Great Lakes Oral & Maxillofacial Surgery Centre. Our experienced team uses the latest technology and techniques to provide comfortable treatment options."
>
  <Hero />
  <div class="bg-white w-full">
    <Offers />
    <Values />
    <Reviews />
    <Locations />
  </div>
</Layout>
