---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Payment - Great Lakes Oral & Maxillofacial Surgery Centre"
  description="Online payment portal for Great Lakes Oral & Maxillofacial Surgery Centre."
>
  <div class="min-h-screen flex items-center justify-center text-center px-5">
    <p class="text-xl">Online Payments Coming Soon...</p>
  </div>
</Layout>
